.TopAnime {
  margin-bottom: 1.875rem
}
.TopAnime--listarea {
  overflow-x: hidden;
  padding-left: 0.9rem;
}

.TopAnime--listitem {
  display: inline-block;
  width: 250px;
  height: 350px;
  padding-right: 0.5rem;
}
.TopAnime--listitem img {
  width: 100%;
  height: 100%;
}