.TopAnime {
  padding-bottom: 0.25rem;
}

.TopAnime h1 {
  padding-left: 1.1rem;
  font-weight: bold;
  color: white;
}

.TopAnime--listarea {
  overflow-x: hidden;
}

.TopAnime--listitem {
  border-radius: 5rem;
  width: 225px;
  height: 325px;
  display: inline-block;
  padding-left: 0.75rem;
  transform: scale(0.95);
  transition: all .2s ease-in-out;
}

.TopAnime--listitem:hover {
  transform: scale(1);
}

.TopAnime--listitem img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}