.animeRow {
    font-family: 'DM Sans', cursive;
    margin-bottom: 30px;
}

.animeRow--listarea {
    overflow-x: hidden;
}

.animeRow--title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.animeRow--item {
    display: inline-block;
    padding-left: 25px;
}

.animeRow--item h4 {
    padding: 5px;
    color: white;
}

.animeRow--item img {
    transform: scale(0.95);
    width: 225px;
    height: 350px;
    border-radius: 15px;
    transition: all ease 0.2s;
}
.animeRow--item img:hover {
    transform: scale(1);
}