.anime-row {
  margin-bottom: 30px;
}

.anime-row-text {
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin: 15px;
}

.anime-row-text h2 {
  color: #45414A;
}
.anime-row-text a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #974a5d;
  cursor: pointer;
}

.anime-poster-area {
  overflow-x: hidden;
}

.anime-button-left,
.anime-button-right {
  padding: 15px;
  position: absolute;
  z-index: 999;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}

.anime-button-left {
  left: 0;
}

.anime-button-right {
  right: 0;
}

.anime-poster-list {
  transition: all ease 0.5s;
}

.anime-poster-item {
  display: inline-block;
  width: 200px;
  height: 275px;
  padding-left: 15px;
}

.anime-poster-item img {
  width: 100%;
  height: 100%;
  transform: scale(0.95);
  transition: all ease 0.2s;
}

.anime-poster-item img:hover {
  transform: scale(1);
}