header {
    height: 70vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content {
    width: 80%;
    text-align: justify;  
    font-family: 'DM Sans', cursive; 
    color: white;
    
}

.content h1 {
    font-size: 32px;
}