.title {
  display: flex;
  align-items:center;
  padding: 0.75rem;
}
.title h1 {
  font-size: 1.95rem;
}
.button-left,
.button-right {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    height: 299px;
    z-index: 99;
}

.button-left {
    left: 0;
}
.button-right {
    right: 0;
}

.anime-list-area {
  padding: 0.75rem;
  overflow-x: hidden;

}

.anime-list-item {
  transition: all ease 0.5s; 
}

.anime-list-item a {
  margin-right: 1.25rem;
}

.anime-list-item img {
  width: 180px;
  height: 270px;
  border-radius: 25px;
  transform: scale(1);
  transition: all 0.2s ease-out;
}

.anime-list-item img:hover {
  transform: scale(1.05);
}