@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


.anime--category {
    font-family: 'DM Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.anime--category a {
    color: orange;
    text-decoration: none;
    font-weight: bold;
}

.anime--listarea {
    overflow-x: hidden;
    padding-left: 15px;
}

.anime--listitem {
    padding: 10px;
    display: inline-block;
}

.anime--listitem img {
    width: 256px;
    height: 380px;
    border-radius: 15px;
}