.content-wrapper {
  padding: 25px;
}
.content {
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0;
  padding: 25px;
  text-align: center;
}

label {
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 300;
}

button {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 4px;
}
