footer {
  height: auto;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: orangered;
}