
.menu {
    position: fixed;
    width: 100%;
    z-index: 999;

}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 25px;
    font-family: 'DM Sans', cursive;
    background-color: white;
}

span {
    color: var(--base-color);
}

.github {
    color: white;
}