.waifu-header {
  height: 35vh;
  position: relative;
  margin-top: 10vh;
  display: flex;
  justify-content: left;
  align-items: center;
}
.waifu-header:after {
  position: absolute;
  content:"";
  height:100%;
  width:100%;
  top:0;
  left:0;
}

.waifu-aside {
  padding: 35px;
  width: 50%;
  z-index: 9;
}

.waifu-aside h1 {
  font-size: 48px;
  color: #fff;
  line-height: 0.9;
  padding-bottom: 10px;
}

.waifu-aside p {
  font-size: 18px;
  color: #fff;
  padding-bottom: 20px;
}

.waifu-aside button {
  background-color: rgb(36, 134, 27);
  border: none;
  padding: 20px 40px 20px 40px;
  border-radius: 5px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.waifu-nav {
  width: 100%;
  height: 10vh;
  top: 0;
  position: fixed;
  z-index: 999;
  background-color: hsl(0, 0%, 99%);
}

.waifu-navbar {
  display: flex;
  height: inherit;
  align-items:center;
  list-style-type: none;
  justify-content: space-between;
  padding: 35px;
}

.waifu-navbar li {
  cursor: pointer;
}

.waifu-navtext a {
  font-weight: bold;
  font-size: 22px;
  color: hsl(0, 0%, 15%);
}

.waifu-navtext span {
  font-size: 28px;
  font-weight: bold;
  color: rgb(184, 109, 11);
}

.waifu-dropdown-menu {
  display: none;
  width: 100%;
  background-color: hsl(0, 0%, 99.5%);
}

.waifu-dropdown-list {
  list-style-type: none;
}

.waifu-dropdown-list li {
  padding: 25px;
  text-align: right;
  transition: all 0.4s ease;
}

.waifu-dropdown-list li a {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 22px;
  color: hsl(0, 0%, 15%);
  text-decoration: none;
  transition: all 0.2s ease;
}

.waifu-dropdown-list li a:hover {
  color: #b86d0b;
}

@media (min-width: 810px) {
  .waifu-header {
    height: 45vh;
    position: relative;
    margin-top: 10vh;
    background-position: 100% 25% !important;
  }
}

@media (min-width: 1440px) {
  .waifu-header {
    height: 75vh;
    position: relative;
    margin-top: 10vh;
  }
  .waifu-header:after {
    position: absolute;
    content:"";
    height:100%;
    width:100%;
    top:0;
    left:0;
    background: linear-gradient(to left, hsla(34, 100%, 50%, 0.5) 0%,hsla(17, 89%, 38%, 0.9) 100%);
  }
}