:root {
  --color_main: #974a51;
  --color_secondary: #db6c75;
  --color_tertiary: #45414a;
  --color_quaternary: #a98950;
}

.announce {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: var(--color_main);
}
.announce h4 {
  color: #fff;
}

.waifu-header {
  height: 65vh;
  position: relative;
  margin-top: 10vh;
  display: flex;
  justify-content: left;
  align-items: center;
  background-position: 100% 20% !important;
}

.waifu-header:after {
  position: absolute;
  content:"";
  height:100%;
  width:100%;
  top:0;
  left:0;
  background: linear-gradient(to left, rgba(219, 108, 117, 0.6), 20%,rgba(151, 74, 80, 1) 100%);
}

.waifu-aside {
  padding: 45px;
  width: 70%;
  z-index: 9;
}

.waifu-aside h1 {
  font-size: 48px;
  color: #fff;
  line-height: 0.9;
  padding-bottom: 10px;
}

.waifu-aside p {
  font-size: 18px;
  color: #fff;
  padding-bottom: 20px;
}

.waifu-aside button {
  background-color: #e0667d;
  border: none;
  padding: 20px 40px 20px 40px;
  border-radius: 5px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

.waifu-nav {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 999;
  background-color: hsl(0, 0%, 99%);
}

.waifu-navbar {
  display: flex;
  height: 10vh;
  align-items:center;
  list-style-type: none;
  justify-content: space-between;
  padding: 35px;
}

.waifu-navbar li {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.waifu-navtext a {
  font-weight: bold;
  font-size: 22px;
  color: #67323c;
}

.waifu-navbar a {
  padding: 15px;
}
.waifu-navbar li a button {
  display: none;
  font-weight: bold;
  font-size: 22px;
  padding: 10px 20px 10px 20px;
  background-color: #e0667d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.waifu-navtext a {
  font-size: 16px;
  font-weight: normal;
}

.waifu-logo {
  font-size: 16px;
  font-weight: bold;
  color: #bb5668;
}

.waifu-menu {
  display: none;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  border-radius: 15px;
}

.waifu-menu:hover {
  background-color:#bb5668;
  color: white !important;
}

.waifu-dropdown-menu {
  display: none;
  width: 100%;
  background-color: hsl(0, 0%, 99.5%);
}

.waifu-dropdown-list {
  list-style-type: none;
}

.waifu-dropdown-list li {
  padding: 25px;
  text-align: right;
  transition: all 0.4s ease;
}

.waifu-dropdown-list li a {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 22px;
  color: hsl(0, 0%, 15%);
  text-decoration: none;
  transition: all 0.2s ease;
}

.waifu-dropdown-list li a:hover {
  color: #bb5668;
}

@media (max-width: 768px) {
  .waifu-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 60vh;
  }
  .waifu-aside {
    width: 100%;
    display: flex;
    flex-direction: column
  }
  .waifu-aside h1 {
    font-size: 28px;
    padding-bottom: 15px;
  }
  .waifu-aside p {
    font-size: 15px;
  }
  .waifu-aside button {
    padding: 10px 20px 10px 20px;
    font-size: 24px;
  }
}

@media (min-width: 1440px) {
  .waifu-header {
    height: 65vh;
    margin-top: 10vh;
    background-position: 100% 20% !important;
  }

  .waifu-aside {
    padding: 50px;
    width: 50%;
    z-index: 9;
  }

  .waifu-aside h1 {
    font-size: 48px;
    color: #fff;
    line-height: 0.9;
    padding-bottom: 10px;
    text-align: justify;
  }
  
  .waifu-aside p {
    font-size: 18px;
    color: #fff;
    padding-bottom: 20px;
    text-align: justify;
  }

  .waifu-aside button {
    border: none;
    padding: 10px 40px 10px 40px;
    border-radius: 5px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
  }

  .waifu-navbar li a button {
    display: unset;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 20px 5px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}