@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Koulen&display=swap');

:root {
    --base-color: #93cbff;
    --bg-color: rgb(235, 235, 235);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

a {
    text-decoration: none;
    font-family: 'DM Sans', cursive;
    color: var(--base-color);
}

nav ul li {
    list-style-type: none;
}

.list--view {
    padding-top: 25px;
    padding-bottom: 25px;
}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background-color: var(--base-color);
    color: white;
    font-family: 'DM Sans', cursive;
}

.divisor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    background-color: var(--bg-color);
    color: white;
    font-family: 'DM Sans', cursive;
}

.footer-menu ul {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .footer-menu-item {
    list-style-type: none;
  }

  .footer-address {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px
  }

  .copyright {
    padding: 15px;
  }