@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Koulen&display=swap');

:root {
    --base-color: rgb(255, 127, 127);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-family: 'DM Sans', cursive;
    color: var(--base-color);
}

nav ul li {
    list-style-type: none;
}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background-color: var(--base-color);
    color: white;
    font-family: 'DM Sans', cursive;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    background-color: var(--base-color);
    color: white;
    font-family: 'DM Sans', cursive;
}